@model List<AlunoModel>

@if (ViewData["Mensagem"] != null)
{
    <div class="alert-danger">
        @ViewData["Mensagem"]
    </div>
}

@if (ViewData["MensagemSucesso"] != null)
{
    <div class="alert-success">
        @ViewData["MensagemSucesso"]
    </div>
}

<div>
    <h1>
        Dados dos alunos
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Contato</th>
                <th scope="col">E-mail</th>
                <th scope="col">Cep</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var aluno in Model)
                {
                    <tr>
                        <th scope="row">@aluno.Id</th>
                        <td>@aluno.Nome</td>
                        <td>@aluno.Idade</td>
                        <td>@aluno.Contato</td>
                        <td>@aluno.Email</td>
                        <td>@aluno.Cep</td>
                        <td>
                            <a type="button" class="btn btn-primary" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep=@aluno.Cep>Endereço</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="text-center">
        <a href="@Url.Action("Adicionar", "Aluno")" class="btn btn-primary">
            Adicionar Novo Aluno
        </a>
    </div>

</div>

